@mixin font-normal {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
}

@mixin font-secondary {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #ffffff;
}

@mixin space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: "Montserrat", sans-serif;
    max-width: 1400px;
    margin: 0 auto;
    background-color: #efe6e4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
    // border: 1px solid black;
}

.title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #533738;
    margin-top: 60px;
    margin-bottom: 35px;
    text-align: center;
}

// header style = = = = = = = = = = = = = = = = = =

.header {
    background: transparent;
    .header-inner {
        @include space-between;
        padding: 28px 0 60px 0;
        .header__logo {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
        .logo__title {
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #533738;
            text-transform: uppercase;
        }
        .menu__list {
            @include justify-center;
            gap: 26px;
        }
        .menu__item-link {
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #533738;
            transition: all 0.3s;
            border-bottom: 1px solid transparent;
            &:hover {
                border-bottom: 1px solid #533738;
            }
        }
    }
}

.menu__item-link--active {
    border-bottom: 1px solid #533738 !important;
}

.header-phone {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: #533738;
    transition: all 0.3s;
    &:hover {
        transform: scale(1.1);
    }
}

// main style = = = = = = = = = = = = = = = = = = =

.main {
    background-image: url(/image/main-banner.png);
    background-repeat: no-repeat;
    margin-top: -135px;
    .main__title {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 62px;
        color: #533738;
        margin: 150px 0 24px 70px;
    }
    .main__subtitle {
        @include font-normal;
        margin: 0 0 20px 70px;
    }
    .main__link {
        display: inline-block;
        padding: 30px 65px;
        margin: 0 0 90px 70px;
        background-color: #cc8b86;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #533738;
        border-radius: 3px;
        transition: all 0.3s;
        &:hover {
            background-color: #b87b77;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
            // transform: translateY(-2px);
        }
    }
}

.visibility-hidden {
    visibility: hidden;
}

// about style = = = = = = = = = = = = = =

.about-content {
    @include justify-center();
    gap: 65px;
    .about-description {
        align-self: flex-start;
        &__text {
            @include font-normal();
            margin-bottom: 40px;
        }
        &__subtext {
            @include font-normal();
        }
    }
}

.about__img-wrapper {
    overflow: hidden;
}

.about__img-wrapper .about__img {
    transition: transform 1s;
}

.about__img-wrapper:hover .about__img {
    transform: scale(1.2);
}

// benefits style = = = = = = = = = = = = = =

.benefits {
    background-color: #8d7370;
    margin-top: 10px;
    .benefits__items {
        @include space-between();
        padding: 72px;
        .benefits__list {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .benefits__list-item--number {
                font-family: "Montserrat", sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 50px;
                line-height: 62px;
                color: #ffffff;
            }
            .benefits__list-item--text {
                @include font-secondary();
            }
        }
    }
}

// our-work = = = = = = = = = = = =

.work__gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work-gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 15px;
    .work-gallery__item--1 {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 5;
    }
    .work-gallery__item--2 {
        grid-column-start: 6;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 5;
    }
    .work-gallery__item--3 {
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 5;
        grid-row-end: 9;
    }
    .work-gallery__item--4 {
        grid-column-start: 8;
        grid-column-end: 13;
        grid-row-start: 5;
        grid-row-end: 9;
    }
}

.wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #644845c0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    opacity: 0;
    transition: opacity 0.3s ease;
    &:hover {
        opacity: 1;
    }
    .wrapper__title {
        @include font-secondary();
        text-align: center;
    }
    .wrapper__text {
        @include font-normal();
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #fff;
        text-align: left;
    }
}

.work-gallery__item {
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    &:hover .wrapper {
        display: flex;
    }
}

.our-work-more {
    @include justify-center();
    @include font-normal();
    gap: 10px;
    margin-top: 40px;
    transition: all 0.5s;
    &:hover {
        transform: translateX(10px);
    }
}

// team style = = = = = = = = = = = = =

.team {
    background-color: #e2c4ba;
    .team__inner {
        display: flex;
        justify-content: center;
        align-self: flex-start;
        gap: 36px;
        .team__item {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-self: flex-start;
            gap: 10px;
            width: 320px;
            height: auto;
        }
        .team__item-text {
            @include font-normal;
            font-size: 16px;
        }
    }
}

.team__item-wrapper {
    overflow: hidden;
}

.team__item-wrapper .team__item-img {
    transition: transform 1.5s;
}

.team__item-wrapper:hover .team__item-img {
    transform: scale(1.4);
}

// working style = = = = = = = = = = = =

.working {
    background-color: #e2c4ba;
    .working__inner {
        @include space-between;
        margin-bottom: 80px;
        margin-top: 40px;
        .working__list {
            @include space-between;
            flex-direction: column;
        }
        .working__item--circle {
            width: 70px;
            height: 70px;
            padding: 20px;
            background-color: #8d7370;
            border-radius: 100%;
            @include font-normal;
            color: #fff;
            text-align: center;
        }
        .working__item-text {
            width: 285px;
            @include font-normal();
            font-size: 16px;
            text-align: center;
            margin-top: 20px;
        }
    }
}

// reviews = = = = = = = = = = = =

.reviews-content {
    @include justify-center();
    gap: 20px;
    position: relative;
    .reviews-content__quote {
        align-self: flex-start;
        @include font-normal();
    }
    .reviews-content__images {
        @include justify-center();
        flex-direction: column;
        gap: 24px;
    }
}

.reviews__img-arrow--left,
.reviews__img-arrow--right {
    position: absolute;
}
.reviews__img-arrow--left {
    top: 40%;
    left: 3rem;
    transition: all 0.6s;
    &:hover {
        box-shadow: 10px 10px 10px 0px rgba(34, 60, 80, 0.2);
        border-radius: 50%;
    }
}
.reviews__img-arrow--right {
    top: 40%;
    right: 3rem;
    transition: all 0.6s;
    &:hover {
        box-shadow: 10px 10px 10px 0px rgba(34, 60, 80, 0.2);
        border-radius: 50%;
    }
}

.reviews-content__image-wrapper {
    overflow: hidden;
}
.reviews-content__image-wrapper img {
    transition: transform 1s;
}
.reviews-content__image-wrapper:hover img {
    transform: scale(1.2);
}

// feedback = = = = = = = = =

.feedback {
    background-color: #8d7370;
    margin-top: 65px;
    &__inner {
        @include justify-center;
        gap: 30px;
    }
    &__title {
        @include font-normal;
        font-size: 40px;
        line-height: 50px;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 24px;
    }
    &__subtitle {
        @include font-normal;
        margin-bottom: 44px;
    }
}

.feedback__form {
    @include justify-center;
    flex-direction: column;
    gap: 20px;
    .feedback__form-input {
        width: 508px;
        height: 35px;
        border: none;
        border-bottom: 1px solid white;
        background: transparent;
    }
    .feedback__form-input::placeholder {
        @include font-normal;
        color: #f6ede9;
    }
}

.feedback__form-btn {
    align-self: flex-start;
    padding: 30px 65px;
    margin-top: 30px;
    background-color: #cc8b86;
    border: none;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #533738;
    border-radius: 3px;
    transform: scale(1);
    box-shadow: 0 0 5px 5px rgba(34, 60, 80, 0.2);
    transition: box-shadow 0.5s, transform 0.5s;
}
.feedback__form-btn:hover {
    transform: scale(1.2);
    box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
    transition: box-shadow 0.5s, transform 0.5s;
    cursor: pointer;
}

// footer = = = = = = = = = = =

.footer__inner {
    @include space-between();
    margin-top: 40px;
    .footer__items {
        @include justify-center();
        gap: 25px;
    }
    .footer__tel,
    .footer__adress,
    .footer__name {
        @include font-normal();
    }
}

.footer__tel {
    transition: all 0.3s;
    &:hover {
        border-bottom: 1px solid #533738;
    }
}
