body {
  font-family: "Montserrat", sans-serif;
  max-width: 1400px;
  margin: 0 auto;
  background-color: #efe6e4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #533738;
  margin-top: 60px;
  margin-bottom: 35px;
  text-align: center;
}

.header {
  background: transparent;
}
.header .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0 60px 0;
}
.header .header-inner .header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.header .header-inner .logo__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #533738;
  text-transform: uppercase;
}
.header .header-inner .menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
}
.header .header-inner .menu__item-link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #533738;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
}
.header .header-inner .menu__item-link:hover {
  border-bottom: 1px solid #533738;
}

.menu__item-link--active {
  border-bottom: 1px solid #533738 !important;
}

.header-phone {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: #533738;
  transition: all 0.3s;
}
.header-phone:hover {
  transform: scale(1.1);
}

.main {
  background-image: url(/image/main-banner.png);
  background-repeat: no-repeat;
  margin-top: -135px;
}
.main .main__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;
  color: #533738;
  margin: 150px 0 24px 70px;
}
.main .main__subtitle {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
  margin: 0 0 20px 70px;
}
.main .main__link {
  display: inline-block;
  padding: 30px 65px;
  margin: 0 0 90px 70px;
  background-color: #cc8b86;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #533738;
  border-radius: 3px;
  transition: all 0.3s;
}
.main .main__link:hover {
  background-color: #b87b77;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.visibility-hidden {
  visibility: hidden;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;
}
.about-content .about-description {
  align-self: flex-start;
}
.about-content .about-description__text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
  margin-bottom: 40px;
}
.about-content .about-description__subtext {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}

.about__img-wrapper {
  overflow: hidden;
}

.about__img-wrapper .about__img {
  transition: transform 1s;
}

.about__img-wrapper:hover .about__img {
  transform: scale(1.2);
}

.benefits {
  background-color: #8d7370;
  margin-top: 10px;
}
.benefits .benefits__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 72px;
}
.benefits .benefits__items .benefits__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.benefits .benefits__items .benefits__list .benefits__list-item--number {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;
  color: #ffffff;
}
.benefits .benefits__items .benefits__list .benefits__list-item--text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #ffffff;
}

.work__gallery-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.work-gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 15px;
}
.work-gallery .work-gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 5;
}
.work-gallery .work-gallery__item--2 {
  grid-column-start: 6;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 5;
}
.work-gallery .work-gallery__item--3 {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 9;
}
.work-gallery .work-gallery__item--4 {
  grid-column-start: 8;
  grid-column-end: 13;
  grid-row-start: 5;
  grid-row-end: 9;
}

.wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(100, 72, 69, 0.7529411765);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.wrapper:hover {
  opacity: 1;
}
.wrapper .wrapper__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
.wrapper .wrapper__text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  text-align: left;
}

.work-gallery__item {
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}
.work-gallery__item:hover .wrapper {
  display: flex;
}

.our-work-more {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
  gap: 10px;
  margin-top: 40px;
  transition: all 0.5s;
}
.our-work-more:hover {
  transform: translateX(10px);
}

.team {
  background-color: #e2c4ba;
}
.team .team__inner {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  gap: 36px;
}
.team .team__inner .team__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: flex-start;
  gap: 10px;
  width: 320px;
  height: auto;
}
.team .team__inner .team__item-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
  font-size: 16px;
}

.team__item-wrapper {
  overflow: hidden;
}

.team__item-wrapper .team__item-img {
  transition: transform 1.5s;
}

.team__item-wrapper:hover .team__item-img {
  transform: scale(1.4);
}

.working {
  background-color: #e2c4ba;
}
.working .working__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  margin-top: 40px;
}
.working .working__inner .working__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.working .working__inner .working__item--circle {
  width: 70px;
  height: 70px;
  padding: 20px;
  background-color: #8d7370;
  border-radius: 100%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
  color: #fff;
  text-align: center;
}
.working .working__inner .working__item-text {
  width: 285px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

.reviews-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}
.reviews-content .reviews-content__quote {
  align-self: flex-start;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}
.reviews-content .reviews-content__images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.reviews__img-arrow--left,
.reviews__img-arrow--right {
  position: absolute;
}

.reviews__img-arrow--left {
  top: 40%;
  left: 3rem;
  transition: all 0.6s;
}
.reviews__img-arrow--left:hover {
  box-shadow: 10px 10px 10px 0px rgba(34, 60, 80, 0.2);
  border-radius: 50%;
}

.reviews__img-arrow--right {
  top: 40%;
  right: 3rem;
  transition: all 0.6s;
}
.reviews__img-arrow--right:hover {
  box-shadow: 10px 10px 10px 0px rgba(34, 60, 80, 0.2);
  border-radius: 50%;
}

.reviews-content__image-wrapper {
  overflow: hidden;
}

.reviews-content__image-wrapper img {
  transition: transform 1s;
}

.reviews-content__image-wrapper:hover img {
  transform: scale(1.2);
}

.feedback {
  background-color: #8d7370;
  margin-top: 65px;
}
.feedback__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.feedback__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 24px;
}
.feedback__subtitle {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
  margin-bottom: 44px;
}

.feedback__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.feedback__form .feedback__form-input {
  width: 508px;
  height: 35px;
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
}
.feedback__form .feedback__form-input::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
  color: #f6ede9;
}
.feedback__form .feedback__form-input:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
  color: #f6ede9;
}
.feedback__form .feedback__form-input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
  color: #f6ede9;
}

.feedback__form-btn {
  align-self: flex-start;
  padding: 30px 65px;
  margin-top: 30px;
  background-color: #cc8b86;
  border: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #533738;
  border-radius: 3px;
  transform: scale(1);
  box-shadow: 0 0 5px 5px rgba(34, 60, 80, 0.2);
  transition: box-shadow 0.5s, transform 0.5s;
}

.feedback__form-btn:hover {
  transform: scale(1.2);
  box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
  transition: box-shadow 0.5s, transform 0.5s;
  cursor: pointer;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.footer__inner .footer__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.footer__inner .footer__tel,
.footer__inner .footer__adress,
.footer__inner .footer__name {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}

.footer__tel {
  transition: all 0.3s;
}
.footer__tel:hover {
  border-bottom: 1px solid #533738;
}